nodered/flows.json
[{"id":"cc040e90.f2572","type":"tab","label":"Flow 1"},{"id":"9aa2a6ad.cf1138","type":"tab","label":"Flow 2"},{"id":"266900e7.80186","type":"postgresDB","z":"","name":"db","host":"db","port":"5432","database":"iot","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"70ac804.af5e28","type":"postgresdb","z":"","hostname":"db","port":"5432","db":"iot","ssl":false},{"id":"476badca.a1a554","type":"debug","z":"cc040e90.f2572","name":"","active":true,"console":"true","complete":"true","x":727.5,"y":664,"wires":[]},{"id":"129c2f4d.57d4e1","type":"CPUs","z":"cc040e90.f2572","name":"cpu","x":392,"y":820,"wires":[["7307da64.fd1c54"]]},{"id":"6b3e744b.f0badc","type":"Loadavg","z":"cc040e90.f2572","name":"load","x":378,"y":866,"wires":[["7307da64.fd1c54"]]},{"id":"6c63c811.88f878","type":"Memory","z":"cc040e90.f2572","name":"mem","x":379,"y":903,"wires":[["7307da64.fd1c54"]]},{"id":"bad17e7c.d9fbd","type":"inject","z":"cc040e90.f2572","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":96,"y":723,"wires":[["c4ff3de2.26278"]]},{"id":"7307da64.fd1c54","type":"join","z":"cc040e90.f2572","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"name","joiner":"\\n","timeout":"","count":"3","x":533.5,"y":865,"wires":[["d8ccfd01.a2ff4"]]},{"id":"a85a3c01.5f8ef","type":"join","z":"cc040e90.f2572","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":732.5,"y":865,"wires":[["dd4b0504.f411c8","476badca.a1a554"]]},{"id":"dd4b0504.f411c8","type":"function","z":"cc040e90.f2572","name":"","func":"var arrayLength = msg.payload.length;\ntable=\"measures\"\nsql=\"\"\nsql_keys=\"\"\nsql_values=\"\"\nfor (var i = 0; i < arrayLength; i++) {\n    obj=msg.payload[i]\n    sql+=\" INSERT INTO \" + table\n    \n    //iterate\n    keys=Object.keys(msg.payload[i])\n    if (i===0) {// compute only columns at first line\n    for (var k=0 ; k < keys.length ; k++ ){\n        if (sql_keys!==\"\"){\n            sql_keys+=\",\"\n            sql_values+=\",\"\n        }\n        sql_keys+=keys[k]\n        node.log(\"key=\" + keys[k])\n        if (keys[k]==\"timestamp\"){\n            sql_values+=\"'\" + msg.payload[i][keys[k]] +\"'\"\n        } else {\n            sql_values+=msg.payload[i][keys[k]]\n        }\n    }}\n    sql+=\" (\" + sql_keys +\") VALUES (\" + sql_values + \");\\n\"\n}\n\nreturn { payload : sql }","outputs":1,"noerr":0,"x":854.5,"y":864,"wires":[["f4f253c.ae923b","91c7b58.fc2c148"]]},{"id":"d8ccfd01.a2ff4","type":"change","z":"cc040e90.f2572","name":"","rules":[{"t":"set","p":"payload.cpus_0_speed","pt":"msg","to":"payload.cpus.0.speed","tot":"msg"},{"t":"set","p":"payload.cpus_1_speed","pt":"msg","to":"payload.cpus.1.speed","tot":"msg"},{"t":"delete","p":"payload.cpus","pt":"msg"},{"t":"set","p":"payload.loadavg_0","pt":"msg","to":"payload.loadavg.0","tot":"msg"},{"t":"set","p":"payload.loadavg_1","pt":"msg","to":"payload.loadavg.1","tot":"msg"},{"t":"set","p":"payload.loadavg_2","pt":"msg","to":"payload.loadavg.2","tot":"msg"},{"t":"delete","p":"payload.loadavg","pt":"msg"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":615.5,"y":937,"wires":[["a85a3c01.5f8ef"]]},{"id":"b5948d2.354e27","type":"timestamp","z":"9aa2a6ad.cf1138","name":"test","x":178.5,"y":323,"wires":[["e4f9c86e.bcef48"]]},{"id":"e4f9c86e.bcef48","type":"debug","z":"9aa2a6ad.cf1138","name":"","active":true,"console":"false","complete":"false","x":411.5,"y":322,"wires":[]},{"id":"4e63d8ea.6a5608","type":"inject","z":"9aa2a6ad.cf1138","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":80.5,"y":242,"wires":[["b5948d2.354e27"]]},{"id":"c4ff3de2.26278","type":"moment","z":"cc040e90.f2572","name":"","topic":"","input":"payload","inputType":"msg","inTz":"UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"timestamp","outputType":"msg","outTz":"UTC","x":187.5,"y":821,"wires":[["129c2f4d.57d4e1","6b3e744b.f0badc","6c63c811.88f878"]]},{"id":"91c7b58.fc2c148","type":"debug","z":"cc040e90.f2572","name":"sql output","active":true,"console":"true","complete":"true","x":1078.5,"y":792,"wires":[]},{"id":"40a9525d.0af82c","type":"json","z":"cc040e90.f2572","name":"","x":1203.5,"y":870,"wires":[[]]},{"id":"f4f253c.ae923b","type":"postgres","z":"cc040e90.f2572","postgresdb":"70ac804.af5e28","name":"","output":true,"outputs":1,"x":996.5,"y":919,"wires":[["40a9525d.0af82c"]]}]
